body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}

@import url("https://fonts.googleapis.com/css?family=VT323");
            
::selection {color:#ffb142; background:transparent;}
::-moz-selection {color: #ffb142; background:transparent;}



/* All screens style */
#gameover a, #setting a, #menu a{
    display: block;
}

#gameover a, #setting a:hover, #menu a:hover{
    cursor: pointer;
}

#gameover a:hover::before, #setting a:hover::before, #menu a:hover::before{
    content: ">";
    margin-right: 10px;
}

/* Menu Screen Style */
#menu{
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
}

#menu h2{
    -webkit-animation: logo-ani 1000ms linear infinite;
            animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
    
}

#menu a{
    font-size: 30px;
}

@-webkit-keyframes logo-ani{
   50%{-webkit-transform: scale(1.3,1.3);}
  100%{-webkit-transform: scale(1.0,1.0);}
}

@keyframes logo-ani{
   50%{transform: scale(1.3,1.3);}
  100%{transform: scale(1.0,1.0);}
}

